/*
 * @Author: funlee
 * @Email: i@funlee.cn
 * @Date: 2018-01-18 21:18:20
 * @Last Modified time: 2018-01-18 21:18:20
 * @Description: react todo style 
 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333;
}

ul,
li {
    list-style: none;
}

.todo {
    width: 100%;
    max-width: 768px;
    margin: 20px auto;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    padding: 20px;
    .todo-title {
        text-align: center;
    }
    .todo-lists {
        background: #fff;
        border-radius: 4px;
        li {
            position: relative;
            padding: 6px 15px;
            border-bottom: 1px solid #cdcdcd;
            &:first-child {
                border-radius: 4px 4px 0 0;
            }
            &:last-child {
                border: none;
                border-radius: 0 0 4px 4px;
            }
            .item-checked {
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                left: 20px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 1px solid #cdcdcd;
            }
            &.active {
                color: #3c763d;
                background: #dff0d8;
                text-decoration: line-through;
                .item-checked {
                    &:before {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        width: 80%;
                        height: 80%;
                        border-radius: 50%;
                        background: #337ab7;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .item-detail {
                text-indent: 40px;
                display: block;
                width: 100%;
            }
            .item-delete {
                position: absolute;
                top: 50%;
                right: -20px;
                opacity: 0;
                transition: all 1s;
                transform: translateY(-50%);
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
            }
            &:hover {
                .item-delete {
                    right: 20px;
                    opacity: 1;
                }
            }
        }
    }
    .item-acount {
        margin-top: 10px;
    }
    .panel {
        border-top: 1px solid #cdcdcd;
        margin-top: 20px;
        padding-top: 20px;
        p {
            display: flex;
            justify-content: flex-end;
        }
        span {
            display: inline-block;
            font-weight: bold;
            width: 20%;
            text-align: center;
        }
        input {
            flex: 1;
            height: 34px;
            padding: 6px 12px;
            background: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            &:focus {
                border-color: #66afe9;
                outline: 0;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            }
        }
        button {
            display: inline-block;
            border-radius: 4px;
            padding: 6px 10px;
            background-color: #337ab7;
            color: #fff;
            text-align: center;
            margin-top: 30px;
            cursor: pointer;
            outline: none;
            border-width: 0;
            font-size: 16px;
        }
    }
}